<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokerSimulationUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PokerSimulationUI.Properties.Settings>
            <setting name="FixationTime" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="ShowFeedback" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighCardString" serializeAs="String">
                <value>High Card</value>
            </setting>
            <setting name="OnePairString" serializeAs="String">
                <value>One Pair</value>
            </setting>
            <setting name="TwoPairString" serializeAs="String">
                <value>Two Pair</value>
            </setting>
            <setting name="ThreeOfAKindString" serializeAs="String">
                <value>Three of a Kind</value>
            </setting>
            <setting name="FullHouseString" serializeAs="String">
                <value>Full House</value>
            </setting>
            <setting name="FourOfAKindString" serializeAs="String">
                <value>Four of a Kind</value>
            </setting>
            <setting name="FlushString" serializeAs="String">
                <value>Flush</value>
            </setting>
            <setting name="StraightString" serializeAs="String">
                <value>Straight</value>
            </setting>
            <setting name="StraightFlushString" serializeAs="String">
                <value>Straight Flush</value>
            </setting>
            <setting name="RoyalFlushString" serializeAs="String">
                <value>Royal Flush</value>
            </setting>
        </PokerSimulationUI.Properties.Settings>
    </userSettings>
</configuration>