<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokerSimulation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PokerSimulation.Properties.Settings>
            <setting name="DefaultRawFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RoyalStraightFlushIdentifiers" serializeAs="String">
                <value>rsf</value>
            </setting>
            <setting name="StraightFlushIdentifiers" serializeAs="String">
                <value>sf</value>
            </setting>
            <setting name="StraightIdentifiers" serializeAs="String">
                <value>st</value>
            </setting>
            <setting name="FlushIdentifiers" serializeAs="String">
                <value>fl</value>
            </setting>
            <setting name="FourOfAKindIdentifiers" serializeAs="String">
                <value>fk</value>
            </setting>
            <setting name="FullHouseIdentifiers" serializeAs="String">
                <value>fh, fl</value>
            </setting>
            <setting name="ThreeOfAKindIdentifiers" serializeAs="String">
                <value>tk</value>
            </setting>
            <setting name="TwoPairIdentifiers" serializeAs="String">
                <value>tp</value>
            </setting>
            <setting name="OnePairIdentifiers" serializeAs="String">
                <value>op</value>
            </setting>
            <setting name="HighCardIdentifiers" serializeAs="String">
                <value>hc</value>
            </setting>
            <setting name="RoyalStraightFlushFileTokens" serializeAs="String">
                <value>9, rsf, rf</value>
            </setting>
            <setting name="StraightFlushFileTokens" serializeAs="String">
                <value>8, sf</value>
            </setting>
            <setting name="StraightFileTokens" serializeAs="String">
                <value>4, st</value>
            </setting>
            <setting name="FlushFileTokens" serializeAs="String">
                <value>5, fl</value>
            </setting>
            <setting name="FourOfAKindFileTokens" serializeAs="String">
                <value>7, fk</value>
            </setting>
            <setting name="FullHouseFileTokens" serializeAs="String">
                <value>6, fh</value>
            </setting>
            <setting name="ThreeOfAKindFileTokens" serializeAs="String">
                <value>3, tk</value>
            </setting>
            <setting name="TwoPairFileTokens" serializeAs="String">
                <value>2, tp</value>
            </setting>
            <setting name="OnePairFileTokens" serializeAs="String">
                <value>1, op</value>
            </setting>
            <setting name="HighCardFileTokens" serializeAs="String">
                <value>0, hc</value>
            </setting>
        </PokerSimulation.Properties.Settings>
    </userSettings>
</configuration>